div.container {
    background-image: url("../../assets/images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}